---
import Layout from '../layouts/BlogPost.astro';
const today = new Date();
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('April 30 2025')}
	heroImage="/C493BDA5-14EB-4B44-98B1-12588CD8F0FC.JPG"
>
	<div class="prose-container">
    <h2>關於我</h2>

    <!-- 1. 簡短自我介紹 -->
    <p>
      我是林睿霖（Ruei-Lin Lin），畢業於國立交通大學電機工程學系，現於國立臺灣大學電信工程學研究所，希望自己可以保持Ｔ型知識獲取的同時成為一名熱衷於創造的 Builder，目前專注於數位訊號處理研究與軟體概念驗證開發。
    </p>

    <!-- 2. 專業技能與經歷 -->
    <p>
      從電機系半路出家，從管顧比賽到創業比賽再到 Web3 開發，最後回到電類研究，對於商業分析、專案管理、財務工程、數位信號處理和區塊鏈 Defi 技術等領域有濃厚興趣，並持續在這些領域中累積經驗。<br />
    </p>

    <!-- 3. 代表專案 -->
	<div class="projects">
	<h2>曾經的一些想法</h2>
	<ul class="project-list">
		<li>
		<strong>EquiPilot</strong>：
		<p class="project-desc">
			Web3 股權分配計算工具，整合區塊鏈智能合約與前端 UI，提升早期新創團隊透明度及與 Web2 人才合作效率。
		</p>
		</li>
		<li>
		<strong>ARtisan</strong>：
		<p class="project-desc">
			透過 AR 建模技術，讓零售商能夠為消費者提供即時互動體驗，增加商家坪效與消費者黏著度。
		</p>
		</li>
	</ul>
	</div>


    <!-- 4. 價值觀與未來願景 -->
    <p>
      我相信 Web3 將會是下一個 MEGA trend，並且會改變我們的生活方式，也希望能夠在這個領域中發揮我的專業技能，並且與志同道合的人一起創造出更好的產品和服務。<br />
	</p>

	<p>
	  如果你有酷點子，或是想要一起合作的話，歡迎隨時聯絡我！我會持續在這個網站上分享我的學習筆記、專案經驗和一些有趣的想法，希望能夠幫助到更多的人。<br />
	</p>

    <!-- 5. 私下生活 & 聯絡方式 -->
    <p>
      
      Contact me:<br />
      &emsp;<strong>Email:</strong> icelin0130@gmail.com<br />
    </p>
  </div>
</Layout>

<style>
  .prose-container {
    max-width: 720px;
    margin: 0 auto;
    padding: 2rem 1rem;
    color: var(--gray-dark);
    line-height: 1.8;
  }
  .prose-container h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
  }
  .prose-container p + p {
    margin-top: 1.5rem;
  }
  /*   可額外微調連結顏色  */
  .prose-container a {
    color: var(--accent);
    text-decoration: underline;
  }

  .prose-container p + .projects {
	margin-bottom: 3rem;
  }

  .projects {
	margin-top: 0rem;        /* 上緊一下 */
  	margin-bottom: 1rem;
  }

  .project-list {
	list-style: none;
	padding-left: 1rem; /* 整個列表往右縮一格 */
  }

  .project-list > li {
	margin-top: 0rem;  
	margin-bottom: 1rem;
  }

  .project-desc {
	margin: 0.5rem 0 0.5rem 1.5rem; /* 內文再往右多縮一格 */
	line-height: 1.6;
  }

</style>