---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	
	<body
    style="
	  display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0; /* æŠŠé è¨­çš„ body margin åŽ»æŽ‰ */
      background-image: linear-gradient(rgba(6, 5, 5, 0.67), rgba(0, 0, 0, 0.43)), url('../æ¥Šè‡³èª _BostonTrip_0905_65.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 100vh;
	  
    ">
		<Header />
		<main 
		  style="color: #ffffff;
      		display: flex;           /* â† æ–°å¢žï¼šflex container */
		    flex-direction: column;   /* â† å…§å®¹ç›´åˆ—æŽ’åˆ— */
			flex: 1;           /* è®“ main æ’æ»¿å‰©é¤˜ç©ºé–“ */
        	padding: 3rem;     /* è¦–éœ€è¦åŠ ä¸€äº›å…§è· */
       ">
			<h1 style="color: #ffffff;">ðŸ§Š Hello, Everyone!</h1>
			
			<p>
				My name is Ruei-Lin Lin, and I am a software engineer, and want to find the next MEGA trend to ride on. 
			</p>
			<p>
				There's lots of things I want to share with, including my study notes,
				projects, some of my personal mindset, and most importantly
			</p>
			<p>
				&emsp; >> The Stone I Stepped.
			</p>

			<p style="margin: 2rem 0 1rem;">
		      
			  The Word I said : 
			  <a
		        href="/my-astro-site/blog"          /* æˆ–æ›æˆä½ çš„ blog è·¯å¾‘ */
		        style="
		          color: #ffffff;
		          text-decoration: underline;
		          font-weight: bold;
		        "
		      >
		        View all blog posts
		      </a>
			  <br />
			  The things I have done :
			  <a
		        href="/my-astro-site/about"
		        style="
		          color: #ffffff;
		          text-decoration: underline;
		          font-weight: bold;
		        "
		      >
		        View my about page
		      </a>
		    </p>

			<p
		      style="
		        margin-top: auto;     /* â† æ–°å¢žï¼šè‡ªå‹•æŽ¨åˆ°åº•éƒ¨ */
		      ">
		      Contact Info : <br />
			  &emsp;Email : Icelin0130@gmail.com
		    </p>
			
		</main>
		<Footer />
	</body>
</html>
